<div class="main">

         <!--order row-->
    <div class="row p-0 m-0">
        <h5 class="heading-txt p-0 m-0">Ecommerce dashboard</h5>
         <p class="paragraph-txt p-0 m-0">Here’s what’s going on at your business right now</p>
        <div class="col-md-4 p-1">
            <div class="new-order">
                <div class="image">
                    <img width="80" height="80" src="../../../../../../assets/admin/images/new-order.svg" alt="">
                </div>
                <div class="content">
                    <h6 class="heading-txt p-0 m-0">66 new orders</h6>
                    <span class="paragraph-txt">awaiting processing</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 p-1">
            <div class="on-hold">
        
                    <div class="image">
                        <img width="80" height="80" src="../../../../../../assets/admin/images/on-hold.svg" alt="">
                    </div>
                    <div class="content">
                        <h6 class="heading-txt p-0 m-0">6 orders</h6>
                        <span class="paragraph-txt">On hold</span>
                    </div>
            </div>
        </div>
        <div class="col-md-4 p-1">
            <div class="out-of-stock">
                    <div class="image">
                        <img width="80" height="80" src="../../../../../../assets/admin/images/out-of-stock.svg" alt="">
                    </div>
                    <div class="content">
                        <h6 class="heading-txt p-0 m-0">68 products</h6>
                        <span class="paragraph-txt">Out of stock</span>
                    </div>
              
            </div>
        </div>
    </div>
    <!--end order row-->

    <!--start sales chart-->
   <div class="sales-report-row row p-0 m-0 my-3" >
    <div class="col-md-4 p-1 m-0" >

        <div class="sales-report">
            <div class="sales-summary">
                <h6 class="heading-txt pb-0 mb-0">Sales Summary</h6>
                <span class="paragraph-txt">Overview of Latest Month</span>
            </div>
    
            <div class="current-month-sales">
                <h6 class="heading-txt pb-0 mb-0">1,540</h6>
                <span class="paragraph-txt">Current Month Sales</span>
            </div>
    
            <div class="current-month-earnings">
                <h6 class="heading-txt pb-0 mb-0"> $6,890.68</h6>
                <span class="paragraph-txt">Current Month Earnings</span>
            </div>

            <div>
                <button class="custom-btn">Last month summary</button>
            </div>
        </div>
    </div>


    <div class="col-md-8 p-0 m-0">

     <div class="sales-chart">
        <canvas id="canvas"  aria-label="Hello ARIA World" role="img"></canvas>

     </div>

    </div>
   </div>
    <!--end sales charts-->





          <!--order row-->
          <div class="row p-0 m-0">
            <h5 class="heading-txt p-0 m-0">Ecommerce dashboard</h5>
             <p class="paragraph-txt p-0 m-0">Here’s what’s going on at your business right now</p>
            <div class="col-md-4 p-1">
                <div class="new-order">
                    <div class="image">
                        <img width="80" height="80" src="../../../../../../assets/admin/images/new-order.svg" alt="">
                    </div>
                    <div class="content">
                        <h6 class="heading-txt p-0 m-0">66 new orders</h6>
                        <span class="paragraph-txt">awaiting processing</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="on-hold">
            
                        <div class="image">
                            <img width="80" height="80" src="../../../../../../assets/admin/images/on-hold.svg" alt="">
                        </div>
                        <div class="content">
                            <h6 class="heading-txt p-0 m-0">6 orders</h6>
                            <span class="paragraph-txt">On hold</span>
                        </div>
                </div>
            </div>
            <div class="col-md-4 p-1">
                <div class="out-of-stock">
                        <div class="image">
                            <img width="80" height="80" src="../../../../../../assets/admin/images/out-of-stock.svg" alt="">
                        </div>
                        <div class="content">
                            <h6 class="heading-txt p-0 m-0">68 products</h6>
                            <span class="paragraph-txt">Out of stock</span>
                        </div>
                  
                </div>
            </div>
        </div>
        <!--end order row-->





</div>
