<div class="main-container">
<div class="trending-product">
    <h5>best deal of the day</h5>
    <div class="deals">
        <div class="deal"> 
        </div>

        <div class="deal"> 
        </div>

        <div class="deal"> 
        </div>

        <div class="deal">  
        </div>

        <div class="deal">
        </div>

    </div>
</div>

<div class="top-product">
    <div class="group-product"></div>
    <div class="group-product"></div>
    <div class="group-product"></div>
    <div class="group-product"></div>
</div>

<div class="electronics-product">
    <h5>Electronics product</h5>
</div>

<div class="home-product">
    <h5>Home & Kitchen Essentials</h5>
</div>

<div class="fashion-product">
    <h5>Home & Kitchen Essentials</h5>
</div>

<div class="top-product">
    <div class="group-product"></div>
    <div class="group-product"></div>
    <div class="group-product"></div>
    <div class="group-product"></div>
</div>

<div class="fashion-product">
    <h5>Home & Kitchen Essentials</h5>
</div>

</div>
