.main-container{
padding: 2vw 4vw;
width: 100%;
height:90vh;
overflow-y: scroll;
float: left;
}
.main-container .title{
    width: 100%;
    height: 100px;
    float: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container .content {
    width: 100%;
    height: auto;
    float: left;
    padding: 3vw 0vw;
    background-color: var(--color-bg-two);
    border-radius: 5px;
}

.main-container .content .product-title{
    margin-bottom: 20px;
}
.main-container .content .product-desc {
    margin-bottom: 20px;
}
.input-desc{
    resize: none;
}

.image-input-cont{
  width: 100%;
  height:100px;
  border:1px dashed var(--color-h);
  border-radius: 5px;
  position: relative;
  margin-bottom:10px;
  float: left;
}
.image-input-cont span{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.image-input-cont input{
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

/*start inventory coding*/
.inventory{
    width: 100%;
    height:auto;
    margin:25px auto;
    float: left;
}
.inventory .inventory-content {
    width: 100%;
    height:auto;
    float: left;
    display: flex;
    justify-content: space-between;
}
.inventory .inventory-tabs{
    width: 30%;
    height:auto;
}
.inventory .inventory-tab-content{
  width: 70%;
  height:auto;
  background-color: var(--color-bg);
  border-radius: 5px;
  padding:5px 10px;
}
.inventory .inventory-tabs ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.inventory .inventory-tabs ul li{
    padding: 10px 12px;
    cursor: pointer;
}
.inventory .inventory-tabs ul li:hover{
    background-color: var(--color-bg);
}
.inventory .inventory-tabs ul li a{
 text-decoration: none;
 text-transform: capitalize;
 color: var(--color-p);
 font-family: var(--para-font);
}
.inventory .inventory-tabs ul li i{
   color:var(--color-p)
   }
.inventory .inventory-tab-content .price{
    width: 100%;
    height:100%;
    padding:8px 10px;
} 

.stock{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    padding: 8px 10px;
    flex-direction: column;

}
.inventory .inventory-tab-content .stock .stock-item{
    display: flex;
    justify-content: space-between;
}
.inventory .inventory-tab-content .stock .stock-item button{
    align-self:end;
}

.inventory .inventory-tab-content .stock .stock-content{
 width: 100%;
 height:auto;
 padding-left:5px;
}
.inventory .inventory-tab-content .stock .stock-content table{
    width:100%;
    text-align: left;
}
.inventory .inventory-tab-content .stock .stock-content table tr{
margin: 2px 0px;

}

.inventory .inventory-tab-content .stock .stock-content table tr td{
    padding: 8px 12px;
    font-family: 'Open Sans', sans-serif;
    color:var(--color-p-two);
    }
.shipping-type{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.shipping-type span{
 background-color: none;   
}

.delivery-type{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.attrubutes-type{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.advanced{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.add-featured{
    width: 100%;
    height: 100%;
    padding: 10px; 
}
.add-featured textarea{
    resize: none;
}
/*end inventory coding*/

.organize{
    width: 100%;
    height:auto;
    background-color: var(--color-bg);
    margin:20px auto;
    border-radius: 5px;
    padding: 15px 10px;
}

.variant{
    width: 100%;
    height: auto;
    background-color: var(--color-bg);
    border-radius: 5px!important;
    padding: 15px 10px;
}
.variant-textarea{
    resize: none;
    margin: 25px 0px;
    border-radius: 5px;
    padding: 5px;
}
.variant-textarea:focus{
    outline: none;
}


