<div class="main-container">
    <div class="title">
        <div>
            <h3 class="heading-txt">Add Product</h3>
            <p class="paragraph-txt">Ordered placed across store</p>
        </div>
        <div>
            <button class="btn border me-2">Discard</button>
            <button class="btn border me-2">Safe draft</button>
            <button class="btn btn-primary">Publish product</button>
        </div>
    </div>

    <div class="content">
        <div class="row p-0 m-0 border">
            <div class="col-md-8">
                <div class="product-title">
                    <h6 class="heading-txt">Product Title*</h6>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
             
               <div class="product-desc">
                <h6 class="heading-txt">Product Description*</h6>
                <div class="form-group">
                    <textarea rows="5" type="text" class="form-control input-desc"></textarea>
                </div>
               </div>

               <div class="display-images">
                <h6 class="heading-txt">Display images*</h6>
                <div class="form-group">
                   <div class="image-input-cont">
                    <span class="paragraph-txt">Upload images</span>
                    <input type="file" name="" id="">
                   </div>
                </div>
               </div>

               <div class="invertory">
                <h6 class="heading-txt">Inventory*</h6>
                  <table class="table">
                    <tr>
                        <th>
                            karimu islam
                        </th>
                        <th>
                           
                                islam karimul
                            
                        </th>
                    </tr>
                    <tr>
                        <td>karimu</td>
                        <td>islam</td>
                    </tr>
                    <tr>
                        <td>karimu</td>
                        <td>islam</td>
                    </tr>
                    <tr>
                        <td>karimu</td>
                        <td>islam</td>
                    </tr>
                    <tr>
                        <td>karimu</td>
                        <td>islam</td>
                    </tr>
                    <tr>
                        <td>karimu</td>
                        <td>islam</td>
                    </tr>
                  </table>
               </div>
                
            </div>
            <div class="col-md-4">

            </div>
        </div>
 
    </div>
</div>
