.main-container{
padding: 2vw 4vw;
width: 100%;
height:90vh;
border: 1px solid red;
overflow-y: scroll;
background-color: var(--color-bg-two);
float: left;
}
.main-container .title{
    width: 100%;
    height: 100px;
    float: left;
    border:1px solid rgb(104, 43, 43);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-container .content {
    width: 100%;
    height: auto;
    float: left;
    border:1px solid rgb(0, 8, 255);
    padding: 3vw 0vw;
}

.main-container .content .product-title{
    margin:25px auto;
}
.main-container .content .product-desc {
    margin:25px auto;
}
.input-desc{
    resize: none;
}

.image-input-cont{
  width: 100%;
  height:100px;
  border:1px dashed var(--color-h);
  border-radius: 5px;
  position: relative;
  text-align: center;
  margin:25px auto;
  float: left;
}

.image-input-cont input{
    width: 100%;
    height: 100%;
    border:1px solid red;
    cursor: pointer;
    opacity: 0;
}
.inventory{
    width: 100%;
    height:auto;
    border:1px solid rgb(33, 31, 31);
    margin:25px auto;
    float: left;
}
.inventory .inventory-content {
    width: 100%;
    height:auto;
    float: left;
    display: flex;
    justify-content: space-between;
}
.inventory .inventory-tabs{
    width: 40%;
    height:auto;
}
.inventory .inventory-tab-content{
  width: 60%;
  height:auto;
}
.inventory .inventory-tabs ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.inventory .inventory-tabs ul li{
    padding: 10px 12px;
}
.inventory .inventory-tabs ul li a{
 text-decoration: none;
 text-transform: capitalize;
 color: var(--color-p);
}
.inventory .inventory-tabs ul li i{
   color:var(--color-p)
   }
.inventory .inventory-tab-content .price{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: space-between;
    padding:8px 10px;
} 
.inventory .inventory-tab-content .price .regular-price {
width: 48%;
height: auto;
}
.inventory .inventory-tab-content .price .sale-price{
    width: 48%;
    height: auto;
}
.stock{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    padding: 8px 10px;
    flex-direction: column;

}
.inventory .inventory-tab-content .stock .stock-item{
    display: flex;
    justify-content: space-between;
}
.inventory .inventory-tab-content .stock .stock-item button{
    align-self:end;
}

.inventory .inventory-tab-content .stock .stock-content{
 width: 100%;
 height:auto;
 padding-left:5px;
}
.inventory .inventory-tab-content .stock .stock-content table{
    width:90%;
    text-align: left;
}

.organize{
    width: 100%;
    height: 400px;
    background-color: var(--color-bg);
    margin:25px auto;
    border-radius: 5px;
    padding: 15px 10px;
}

.variant{
    width: 100%;
    height: auto;
    border:1px solid red;
    background-color: var(--color-bg);
    border-radius: 5px!important;
    padding: 15px 10px;
}
.variant-textarea{
    resize: none;
    margin: 25px 0px;
    border-radius: 5px;
    padding: 5px;
}
.variant-textarea:focus{
    outline: none;
}

.shipping-type{
    width: 100%;
    height: 100%;
    border:1px solid red;
    padding: 10px;
}

.delivery-type{
    width: 100%;
    height: 100%;
    border:1px solid red;
    padding: 10px;
}

.attrubutes-type{
    width: 100%;
    height: 100%;
    border:1px solid red;
    padding: 10px;
}

.advanced{
    width: 100%;
    height: 100%;
    border:1px solid red;
    padding: 10px;
}

.add-featured{
    width: 100%;
    height: 100%;
    border:1px solid red;
    padding: 10px; 
}
.add-featured textarea{
    resize: none;
}


