<div class="main-container">

    <!--START PRODUCT TITLE-->
    <div class="title">
        <div>
            <h3 class="heading-txt">Add Product</h3>
            <p class="paragraph-txt">Ordered placed across store</p>
        </div>
        <div>
            <button class="btn border me-2">Discard</button>
            <button class="btn border me-2">Safe draft</button>
            <button class="custom-btn">Publish product</button>
        </div>
    </div>
    <!--END PRODUCT TITLE-->


    <!--START PRODUCT DETAILS-->
    <div class="content">
        <div class="row p-0 m-0 border">
            <div class="col-md-8">
                <div class="product-title">
                    <h6 class="heading-txt">Product Title*</h6>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </div>
             
               <div class="product-desc">
                <h6 class="heading-txt">Product Description*</h6>
                <div class="form-group">
                    <textarea rows="5" type="text" class="form-control input-desc"></textarea>
                </div>
               </div>

               <div class="display-images">
                <h6 class="heading-txt">Display images*</h6>
                <div class="form-group">
                   <div class="image-input-cont">
                    <span class="paragraph-txt">Upload images</span>
                    <input type="file" name="" id="">
                   </div>
                </div>
               </div>

               <div class="inventory">
                <h6 class="heading-txt">Inventory*</h6>
                <div class="inventory-content">
                 <div class="inventory-tabs">
                    <ul>
                        <li (click)="selectedTabs='tab1';navigate_inventory(selectedTabs)" ><i class="fa fa-tag me-2" aria-hidden="true"></i><a >pricing</a></li>
                        <li  (click)="selectedTabs='tab2';navigate_inventory(selectedTabs)"><i class="fa fa-cubes me-2" aria-hidden="true"></i><a >restock</a></li>
                        <li (click)="selectedTabs='tab3';navigate_inventory(selectedTabs)"><i class="fa fa-truck me-2" aria-hidden="true"></i><a >shipping</a></li>
                        <li (click)="selectedTabs='tab4';navigate_inventory(selectedTabs)"><i class="fa fa-globe me-2" aria-hidden="true"></i><a >global delivery</a></li>
                        <li (click)="selectedTabs='tab5';navigate_inventory(selectedTabs)"><i class="fa fa-diamond me-2 " aria-hidden="true"></i><a >attributes</a></li>
                        <li (click)="selectedTabs='tab6';navigate_inventory(selectedTabs)"><i class="fa fa-life-ring me-2" aria-hidden="true"></i><a >advanced</a></li>
                        <li (click)="selectedTabs='tab7';navigate_inventory(selectedTabs)"><i class="fa fa-life-ring me-2" aria-hidden="true"></i><a >add featured</a></li>
                    </ul>
                 </div>

                 <!--START INVENTORY CODING-->
                 <div class="inventory-tab-content" style="border:1px solid red;">
                    <ng-template [ngIf]="selectedTabs=='tab1'">
                        <div class="price">
                            <div class="regular-price">
                                <div class="form-group">
                                    <label for="" class="heading-txt form-group-text mb-1">Regular price</label>
                                    <input type="text" class="form-control" placeholder="$$">
                                </div>
                                </div>
                                <div class="sale-price">
                                    <div class="form-group">
                                        <label for="" class=" heading-txt form-group-text mb-1">Sale price</label>
                                        <input type="text" class="form-control" placeholder="$$">
                                    </div>
                                </div>
                        </div>
                    </ng-template>
                   

                    <ng-template [ngIf]="selectedTabs=='tab2'">
                        <div class="stock">
                            <div class="stock-item">
                             <div class="form-group">
                                 <label for="" class="heading-txt form-group-text mb-1">Regular price</label>
                                 <input type="text" class="form-control" placeholder="$$">
                             </div>
                             <button class=" custom-btn">Add stock</button>
                             </div>
                             <div class="stock-content">
                                 <table>
                                     <tr>
                                         <td>Product in stock now:</td>
                                         <td>$1,090</td>
                                     </tr>
                                     <tr>
                                         <td>Product in transit:</td>
                                         <td>5000</td>
                                     </tr>
                                     <tr>
                                         <td>Last time restocked:</td>
                                         <td>30th June, 2021</td>
                                     </tr>
                                     <tr>
                                         <td>Total stock over lifetime:</td>
                                         <td>20,000</td>
                                     </tr>
                                 </table>
                             </div>
                     </div>
                    </ng-template>
         

                    <ng-template [ngIf]="selectedTabs=='tab3'">
                        <div class="shipping-type">
                            <h5 class="heading-txt mb-3">Shipping type</h5>
                            <div class="form-check mb-4">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <h6 class="form-check-label heading-txt" for="inlineRadio2">Fullfilled by Seller</h6>
                                <p class="form-text p-0 m-0">
                                    contain letters and numbers, and must not contain spaces, special characters
                                   </p>
                              </div>
    
                              <div class="form-check mb-4">
                                <input class="form-check-input" checked="checked" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <h6 class="form-check-label heading-txt" for="inlineRadio2">Fullfilled by Phoenix <span class="badge bg-warning text-dark">Recommended way</span></h6>
                                <p class="form-text p-0 m-0">
                                    contain letters and numbers, and must not contain spaces, special characters
                                   </p>
                              </div>
    
                              <span class="form-text ps-4">See our Delivery<a href="#" class="link-primary">Primary link</a> terms and conditions</span>
                        </div> 
                    </ng-template>
                  
                     
                    <ng-template [ngIf]="selectedTabs=='tab4'">
                        <div class="delivery-type">
                            <h5 class="heading-txt mb-3">Global Delivery</h5>
                            <div class="form-check mb-4">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <h6 class="form-check-label heading-txt" for="inlineRadio2">Worldwide delivery</h6>
                                <p class="form-text p-0 m-0">
                                    Only available with Shipping method: Fullfilled by Phoenix
                                   </p>
                              </div>
    
                              <div class="form-check mb-4">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <h6 class="form-check-label heading-txt" for="inlineRadio2">Worldwide delivery</h6>
                                <p class="form-text p-0 m-0">
                                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                   </p>
                              </div>
    
                              <div class="form-check mb-4">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <h6 class="form-check-label heading-txt" for="inlineRadio2">Local delivery</h6>
                                <p class="form-text p-0 m-0">
                                    Deliver to your country of residence Change profile address
                                   </p>
                              </div>
    
                              <span class="form-text ps-4">See our Delivery<a href="#" class="link-primary">Primary link</a> terms and conditions</span>
                        </div> 
                    </ng-template>
                  

                     <ng-template [ngIf]="selectedTabs=='tab5'">
                        <div class="attrubutes-type">
                            <h5 class="heading-txt mb-3">Attributes</h5>
                            <div class="form-check mb-4">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label heading-txt" for="inlineRadio2">Fragile Product</label>
                              </div>
    
                              <div class="form-check mb-4">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label heading-txt" for="inlineRadio2">Biodegradable</label>
                              </div>
    
                              <div class="form-check mb-4">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label heading-txt" for="inlineRadio2">Frozen Product</label>
                                <div class="form-group p-0 m-0 my-2">
                                    <input class="form-control" type="text" aria-label="readonly input example" placeholder="Max allowed temperature">
                                </div>
                              </div>
    
                              <div class="form-check mb-4">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label heading-txt" for="inlineRadio2">Expiry Date of Product</label>
                                <div class="form-group p-0 m-0 my-2">
                                    <input class="form-control" type="date" aria-label="readonly input example" placeholder="Max allowed temperature">
                                </div>
                              </div>
    
                              <span class="form-text ps-4">See our Delivery<a href="#" class="link-primary">Primary link</a> terms and conditions</span>
                        </div> 
                     </ng-template>
                     
                     <ng-template [ngIf]="selectedTabs=='tab6'">
                        <div class="advanced">
                            <h5 class="heading-txt mb-3">Advanced</h5>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h6>Product ID Type</h6>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>JAN</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                          </select>
                                    </div>
                                  
                                  </div>
                                  <div class="col">
                                    <div class="form-group">
                                        <h6>Product ID</h6>
                                        <input type="text" placeholder="ISBN" class="form-control" aria-label="Last name">
                                    </div>
                                  
                                  </div>
                            </div>
                        </div> 
                     </ng-template>
                  
                      <ng-template [ngIf]="selectedTabs=='tab7'">
                        <div class="add-featured">
                            <h5 class="heading-txt mb-3">Add featured</h5>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h6>Featured name</h6>
                                       <input type="text" class="form-control">
                                    </div>
                                  </div>
                            </div>
    
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <h6>Featured description</h6>
                                        <textarea type="text" placeholder="ISBN" class="form-control" aria-label="Last name"></textarea>
                                    </div>
                                  </div>
                            </div>
                        </div> 
                      </ng-template>
                     



                 </div>
                 <!--END INVENTORY CODING HERE-->
                </div>
               </div>
            </div>

            <!--START ORGANIZE VARIANTS-->
            <div class="col-md-4">
                <h5 class="heading-txt">Organize products</h5>
           <div class="organize">
           <div class="input-group d-flex flex-column mb-4">
            <h6>Add a product in a category</h6>
            <p class="form-text p-0 m-0">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters
            </p>
            <label class="form-label" for="">Choose category</label>
            <select type="text" class="form-control w-100" name="" id="">
                <option value="">onw</option>
                <option value="">onw</option>
                <option value="">onw</option>
            </select>
        </div>

        <div class="input-group d-flex flex-column mb-4">
            <h6>Add a product in a tag</h6>
            <p class="form-text p-0 m-0">
                Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters
            </p>
            <label class="form-label" for="">Choose tags</label>
            <select type="text" class="form-control w-100" name="" id="">
                <option value="">onw</option>
                <option value="">onw</option>
                <option value="">onw</option>
            </select>
        </div>
           </div>

           <div class="variant">
            <div class="input-group d-flex flex-column mb-4">
                <h6 class="border w-100">Add product variant like color,size,weight ect</h6>
                <p class="form-text p-0 m-0">
                 contain letters and numbers, and must not contain spaces, special characters
                </p>
                <label class="form-label" for="">Choose variant</label>
                <select type="text" class="form-control w-100" name="" id="">
                    <option value="">Color</option>
                    <option value="">Size</option>
                    <option value="">Weight</option>
                </select>
                <textarea name="" id="" class="variant-textarea form-control w-100" cols="30" rows="5"></textarea>
            </div>
           </div>
            </div>
            <!--END ORGANIZE VARIANT-->
        </div>
    </div>
    <!--END PRODUCT DETAILS-->
</div>
