
.logo-cont{
    width: 100%;
    height: 10vh;
    border:1px solid red;
    float: left;
    display: flex;
    justify-content:center;
    align-items: center;
}
.logo-cont div{
    width: fit-content;
    height:fit-content;
    cursor: pointer;
    float: left;

}
.logo{
    width:auto;
    text-align: left;
    font-family: var(--heading-font); 
    margin:10px auto;
    font-size:1.2rem;
    font-weight: bold;
    padding:0px;
    color: var(--color-h);
}
.logo-cont .e{
    background-color: var(--btn-bg);
    padding: 5px 10px;
    border-radius:5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.nav-cont{
    width: 100%;
    height:90vh;
    float: left;
    border:1px solid red;
    padding-top: 10px;
}



.sidenav-main ul {
    list-style:none;
   padding: 0px;
   margin: 0px;
}
.sidenav-li-max {
    display: block;
    margin:10px auto;
    width: 70%;
    padding:5px 8px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}
.sidenav-li-min {
    display: block;
    margin:10px auto;
    width: 70%;
    padding:5px 3px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

}

.sidenav-main ul li i {
     color:var(--color-p-two);
     width:30%;

}
.sidenav-main ul li a{
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-p-two);
    font-weight:normal;
    width: 70%;
    text-align: left;
    font-family: var(--heading-font);
}
.active{
    background-color: var(--btn-bg);
}