<div class="sidenav-main">
    <div class="logo-cont">
        <span class="logo" *ngIf="!sideNav">Ecomm admin</span>
    </div>
    
    <div class="nav-cont">
        <ul>
        
            <li  [class]=" !sideNav ? 'sidenav-li-max': 'sidenav-li-min'" [class.active]="showMenu===item.title" *ngFor="let item of  sidebarnavItems">
                <i [class]="item.icon"></i>
                <a *ngIf="!sideNav" [routerLink]="item.path" (click)="addExpandClass(item.title)">{{item.title}}</a>
            </li>
            
        </ul>
    </div>
 
</div>
