
.container-fluid{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:var(--color-bg);
}
.admin-reg-img-cont{
   width:50%;
   height:500px;
   padding:5vh;
   background-color:var(--color-bg);
   border-top-left-radius: 5px;
   border-top-right-radius:0px;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius:0px;
  background-image: url("../../assets/landing_image.gif");
  background-repeat: no-repeat;
  background-size:100% 100%;
  object-fit: contain;
  position: relative;
}



.notification{
   position: absolute;
   width: 200px;
   height:auto;
   background-color:var(--color-bg-two);
   bottom:20px;
   right:0px;
   transform: translate(-40%);
   border-radius: 5px;
   padding: 5px;
}

.admin-reg-form-cont{
   width:40%;
   height:500px;
   padding:5vh;
   background-color:var(--color-bg-two);
   border-top-right-radius: 5px;
   border-top-left-radius:0px;
   border-bottom-right-radius: 5px;
   border-bottom-left-radius:0px;
}
.signup-btn,.login-btn{
   background-color:initial;
   font-family: 'Roboto', sans-serif;
   color:var(--color-p-two);
   border:none;
}
.signup-btn:focus,.login-btn:focus{
   color: var(--color-p-two);
}


.signup-cont,.login-cont{
   padding: 15px;
   border-radius: 5px;
   border-top: none;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
   background-color:initial;
}


.login-text,.signup-text{
   margin:10px 0px  0px 0px;
   letter-spacing:1px;
   font-size:3vh;

}

input:focus{
   box-shadow: none;
   background-color: initial;
   border:1px solid #1c161623;
}
input{
   font-family: 'Open Sans', sans-serif;
   background-color:var(--color-bg-two);
   border:1px solid #1c161623;
   font-weight:lighter;
   color:var(--color-p-two);
   font-size: 16px;
}

.btn-custom{
   font-family: 'Roboto', sans-serif;
    color:var(--btn-color);
   background-color:var(--btn-bg);
}

.form-group{
   position: relative;
}
.form-group > span {
   display: block;
   position: absolute;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
   color:var(--color-warn);
   z-index: 10;
   font-size: 12px;
}

/*responsive coding*/

@media(max-width:680px){
 
   .admin-reg-img-cont{
    display: none;
   }

   .admin-reg-form-cont{
    width: 90%;
    padding: 1vh;
   }
}
