.main-container{
    width: 100%;
    height: auto;
    float: left;
}
.hero-slider-section{
    width: 100%;
    height:350px;
    position: relative;
    overflow: hidden;
}

.hero-slider-section img{
    width: 100%;
    height: 100%;
}