<div>
    <header>
       

        <div class="logo-cont">
            <div>
                <span class="e">E </span><span class="logo">&nbsp;comm admin</span>
            </div>
        </div>

        <div class="search">
            <div class="input-group">
                <input type="text" class="form-control-input" placeholder="Search products" aria-label="Recipient's username" aria-describedby="basic-addon2">
                <button>Search</button>
              </div>
        </div>
        <div class="account">
       <button><a href="">Cart</a></button>
       <button><a href="">Notification</a></button>
       <button><a href="">Account</a></button>
        </div>
    </header>

    <div class="nav-cont">

        <nav>
             <div class="menu">
                <i class="fa fa-bars" aria-hidden="true"></i>
             </div>
            <div class="items">
                <ul>
                    <li><a href="">home</a></li>
                    <li><a href="">my favourite stores</a></li>
                    <li><a href="">products</a></li>
                    <li><a href="">wishlist</a></li>
                    <li><a href="">shipping info</a></li>
                    <li><a href="">be a vendor </a></li>
                    <li><a href="">trac order</a></li>
                    <li><a href="">checkout</a></li>
                </ul>
            </div> 
        </nav>
      
          
        </div>




     
</div>
