.content {
    max-width: 800px;
    margin:0px auto;
  }

  .search-cont{
    width: 100%;
    height:auto;
    margin:0rem auto 2rem auto;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);   
    padding: 20px 20px;
  }

  .search-cont .search-input{
    width:100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-cont .search-input input{
    width: 50%;
    height:auto;
    outline: none;
    align-self: stretch;
    border:1px solid #ddd;
    padding: 5px;
    font-family: var(--para-font);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 5px;
  }
  .search-cont .search-input button{
    align-self: stretch;
    border:1px solid #ddd;
    padding: 8px 12px;
    font-family: var(--para-font);
  }
  
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  
  
  .category-list {
    display: grid;
    grid-template-columns:1fr;
    grid-gap: 1rem; 
  }
  .all_category{
    font-family: var(--heading-font);
    color: var(--color-p);
  }
  
  .category-item {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-two); 
  }
  .category-item .category-cont{
    display: flex;
    justify-content: space-between;
    margin-bottom:7px;
    font-family: var(--para-font);
  }
  .category-item .category-cont .category-name{
    font-family: var(--para-font);
  }
  .category-item .category-cont .category-actions{
    display: flex;
    justify-content: flex-end;
  }
 
  .category-item .category-cont .category-actions .delete-button{
    margin-left: 6px;
    background-color: var(--color-warn);
  }
  .category-item .sub-category{
    width: 100%;
    height:auto;
    padding: 10px 0px;
  }
  .category-item .sub-category .sub-category-expander{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:8px 0px;

  }
  .category-item .sub-category .sub-category-expander span{
    font-family: var(--pata-font);
    text-transform: capitalize;
    color: var(--color-p);
  }
  .category-item .sub-category .sub-category-expander i{

    cursor: pointer;
    color: var(--btn-bg);

  }

  .category-item .sub-category ul{
    list-style:none;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
  }
  .category-item .sub-category ul li{
    font-family: var(--para-font);
    text-transform: capitalize;
  }
  .modal-header{
    background-color: var(--btn-bg)!important;
  }

  .modal-body{
    height:auto;
    background-color: var(--bg-color)!important;
  }

  .modal-title{
   font-family: var(--heading-font);
   margin:1rem auto 1rem auto;
   text-transform: capitalize;
  }
  .category-name,.main-category{
    font-family: var(--para-font);
    text-transform: capitalize;
  }
 
  .warn_input{
    color: var(--color-warn);
  }
  input:focus,textarea:focus,select:focus{
    box-shadow: none;
  }

 
 

  
  

