
<section class="content">
    <div class="search-cont">
        <div class="search-input">
            <button>Search</button>
            <input type="search" name="" id="">
        </div>
    </div>
    <div class="page-header">
            <p class="all_category">All categories</p>
      <button class="custom-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Add Category</button>
    </div>

    <div class="category-list">
      <!-- Category items will be dynamically generated here -->
      <div class="category-item" *ngFor="let item of all_category;let i=index">
        <div class="category-cont">
      <span class="category-name">{{item.category_name}}</span>
      <div class="category-actions">
        <button class="edit-button custom-btn" (click)="editCategory(i)"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap">Edit</button>
        <button class="delete-button custom-btn" (click)="deleteCategory(i)" >Delete</button>
      </div>
        </div>
     
        <div class="sub-category">
            <div class="sub-category-expander"><span>Sub category</span><i (click)="collapseSubcategory(i);" class="fa fa-plus-square" aria-hidden="true"></i></div>

            <ul *ngIf="subCategoryToggler && Cindex==i">
                <li class="badge bg-primary ms-1" *ngFor="let subCategory of item.category_tags">{{subCategory}}</li>
            </ul>
            
        </div>
      </div>


     


   


     
      <!-- More category items can be added here -->
    </div>
  </section>



  <!--bootstrap modal coding-->
  <div data-bs-backdrop="false" #modal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" (click)="form.resetForm();checkError.validate_array=[]" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #form="ngForm" (submit)="createCategory($event);form.resetForm()" [formGroup]="createCategoryForm">
            <h5 class="modal-title" id="exampleModalLabel">Add category</h5>
            <div class="mb-3">
              <input type="text" class="form-control category-name" formControlName="category_name" placeholder="Enter category name" id="recipient-name">
              <ng-template [ngIf]="checkError.checkError('category_name')">
                <span class="warn_input" *ngIf="category_name?.errors?.['required'] && !(category_name?.touched || category_name?.dirty)">Category name is required</span>
              </ng-template>
              <span class="warn_input" *ngIf="category_name?.errors?.['minlength'] && (category_name?.touched || category_name?.dirty)">Category name should be  5 characters</span>
              <span class="warn_input" *ngIf="category_name?.errors?.['required'] && (category_name?.touched || category_name?.dirty)">Category name is required</span>
            </div>
            <div class="mb-3">
              <textarea class="form-control tags" rows="7" formControlName="category_tags" placeholder="Enter tags name and with seperated by comma" id="message-text"></textarea>
              <ng-template [ngIf]="checkError.checkError('category_tags')">
                <span class="warn_input" *ngIf="category_tags?.errors?.['required'] && !(category_tags?.touched || category_tags?.dirty)">Category tags is required</span>
              </ng-template>
              <span class="warn_input" *ngIf="category_tags?.errors?.['minlength'] && (category_tags?.touched || category_tags?.dirty)">Tags name should be  5 characters</span>
              <span class="warn_input" *ngIf="category_tags?.errors?.['required'] && (category_tags?.touched || category_tags?.dirty)">Tags name is required</span>
            </div>

            <div class="mb-3">
                <input type="submit" [value]="modal_btn_Control" class="custom-btn" >
              </div>
          </form>
          <div class="notification" *ngIf="showMessage.message">
            <span [style.color]="showMessage.type == 'success' ? '#28A745' : '#FFC107'">{{showMessage.message}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end bootstrap modal coding-->

