/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@400&display=swap');
*{
    padding: 0px;
    margin:0px;
}

:root{
    --color-bg:#ffff;
    --color-bg-two:#ebebebe3;
    --color-h:#000000c8;
    --color-p:#00000088;
    --color-p-two:#4d4c4c;
    --btn-color:#f5ebe5d3;
    --btn-bg:#3a0ce1;
    --color-warn:#e21e10;
    --heading-font:'Roboto', sans-serif;
    --para-font:'Open Sans', sans-serif;
}




.heading-txt {
    font-family: 'Roboto', sans-serif;
    color:var(--color-h);
}

.paragraph-txt{
    font-family: 'Open Sans', sans-serif;
    color:var(--color-p);
}

.custom-btn{
    padding:8px 12px;
    background-color:var(--btn-bg);
    border: none;
    color:var(--color-bg);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

body {
    background-image: var(--bs-gradient);
}

.notification{
    position: absolute;
    width:fit-content;
    height:auto;
    background-color:var(--color-bg-two);
    bottom:20px;
    right:0px;
    transform: translate(-40%);
    border-radius: 5px;
    padding: 5px;
 }